*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
    background-color: black;
}

.tittle{
    display: flex;
    justify-content: center;
}
.fiveq{
    font-size: 55px;
}

.question-quiz{
    margin: 15px;
}

.container {
    display: block;
    align-items: center;
    margin: auto ;
    padding: 20px;
    background-color: rgb(188, 128, 248);
    width: 500px;
    height: auto;
}

.form-groupi{
    width: 460px;
    margin:10px 160px;
}

textarea{
    border-radius: 10px;
}
#category{
    height: 38px;
    width: 200px;
    border-radius: 10px;
}
.d-block{
    margin: 10px 10px 10px 160px;
}
#input{
    margin:10px 330px;
    width: 100px;
    height: 55px;
    font-size: larger;
}

.row{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content:center
}

.question{
    margin: 10px 160px;
    width: 460px;
}
.answers{
    margin: 10px 160px;
    width: 460px;
}

.hide{
    display: none;
}


.quiz_name{
    border-radius: 8px;
    margin: 10px;
    background-color: lightsalmon;
    width: 1050px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.form-g{
    border: solid black 1px;
    width: 800px;
    height: 400px;
    margin: 25px 0px;
    padding: 30px 5px;
}
#answer{
    height: 38px;
    width: 400px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
